body{
    margin: 0;
  }
  #main-content{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 390px; 
    height: auto; 
    display: inline-block; 
    z-index: 1; 
    padding: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,.28);
    font-family: 'Sedgwick Ave', cursive;
  }

  .reminderList{
    padding: 10px;
  }

  .myStyleClass{
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    border-radius: 15px;
    background-color:  #f2f2f2;
    margin-bottom: 15px;
  }

.add-reminder{
  margin-top: 0px;
  margin-bottom: 5px;
}
input.ReminderTime {
    width: 100%;
    border: 1px solid #808080;
}
  .reminderComplete:hover{

    background-color: black;

  }

  .header img{
    width: 150px;
    margin-top: 15px;
    margin-bottom: 0px;
  }
  .header {
    width: 100%;
    text-align: center;
  }

  input, button, submit {
   border:none; } 

  button:focus {
    outline:0;}

   button {
     cursor: pointer; 
     cursor: hand;
     width: 170px;
     
   }

   #saveNotes{
     background-color: #0084bf;
     font-size: 14px;
     color: white;
     padding-top: 5px;
     padding-bottom: 5px;
     margin-bottom: 5px;
     margin-top: 10px;
     width: 30%;
   }

   #ReminderSave {
    background-color: #0084bf;
     font-size: 14px;
     color: white;
     padding-top: 5px;
     padding-bottom: 5px;
     margin-top: 10px;
     margin-bottom: 5px;
     width: 30%;
   }
   #notesBox{
    box-shadow: 0 4px 8px  rgba(0,0,0,.17);  
   }

   #ReminderSave:hover {
    background-color: #0474A1;
  }
  #reminder{
    box-shadow: 0 4px 8px  rgba(0,0,0,.17);
    border: 1px solid gray; 
    width: 359px; 
    height: 30px;  
    padding: 10px;
  }

     .saveNotes:hover {
    background-color: #0474A1;
  }
  
  .primary-button {
    background-color: #0084bf;
     font-size: 14px;
     color: white;
     padding-top: 10px;
     padding-bottom: 10px;
     margin-bottom: 10px;
     float: left;
     margin-right: 10px;
     margin-top: 10px;
  }

  .primary-button:hover {
    background-color: #0474A1;
  }

  .secondary-button {
    color: #0084bf;
    font-size: 14px;
     padding-top: 8px;
     padding-bottom: 8px;
     background-color: white;
     border: 2px solid #0084bf;
  }
  .secondary-button:hover {
    background-color: #E9F3F8;
  }
canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

/*#particles-js {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: black;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */

/*.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}*/